<%- include(`header`) %>

<div class="burgerside">
    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/addsubjects"> Add Subjects </a>
    <a href="/removesubjects"> Remove Subjects </a>
    <a href="/logout"> Logout </a>
  </div>
  
  <img src="https://img.icons8.com/android/24/000000/menu.png" onclick="openNav()" class="hamburger"/> 
  </div>

<div class="settingbox">
    <div class="settings">
        <li> <a href="/addsubjects"> Add Subjects </a> </li>
        <li> <a href="/removesubjects"> Remove Subjects </a> </li>
    </div>

    <div class="editfeed">
        <h2> Edit Profile </h2>

        <form action="/editprofile" method="post">

            <% if (typeof errorBox != `undefined`) { %>
                <% errorBox.forEach(function(error) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <p> <%= error.msg %> </p>
                      </div>
                <% }) %>
            <% } %>

            <label for="firstname"> First Name: </label>
            <input type="text" name="firstName" value="<%= firstName %>"> 
            <label for="lastname"> Last Name: </label>
            <input type="text" name="lastName" value="<%= lastName %>"> 

            <button type="submit"> Update </button>
        </form>

    </div>
</div>

<%- include(`footer`) %>