<%- include(`header`) %>

<div class="homebox">      

    <div class="welcomegreet">
        <h1> Welcome <%= user %> </h1>
    </div>

    <div class="sublist">
        <h3> Available Subjects </h3>
        <% subs.map(sub => { %>
            <div class="sublistbox">
                <h2> <%= sub.name %> </h2>
                <p> <%= sub.description %> </p>
            </div>
        <% }) %>
    </div>

</div>

<%- include(`footer`) %>