<%- include(`header`) %>

<div class="burgerside">
    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/settings"> Settings </a>
    <a href="/logout"> Logout </a>
  </div>

  <img src="https://img.icons8.com/android/24/000000/menu.png" onclick="openNav()" class="hamburger"/> 
  </div>

<div class="homebox">      

    <div class="welcomegreet">
        <h1> <strong> Welcome <%= user %> </strong> </h1>
    </div>

    <div class="sublist">
        <h3> Available Subjects </h3>
        <% subs.map(sub => { %>
            <div class="sublistbox">
                <h2> <%= sub.name %> </h2>
                <p> <%= sub.description %> </p>
            </div>
        <% }) %>
    </div>

</div>

<%- include(`footer`) %>